* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;  
}   



a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__phone-conteiner {
    display: flex;
    align-items: center;
}

.header__phone-logo {
    width: 40px;
    height: 50px;
}

.header__phone-number {
    font-size: 2em;
    color: black;
}

.header__phone-number:hover {
    color: rgb(45, 45, 45);
}

.header__logo-conteiner {
    display: flex;
    align-items: center;
}

.header__logo-ref img {
    width: 120px;
    border-radius: 20px;
}

.header__text {
    color: black;
}

.header__account-info {
    display: flex;
    align-items: center ;
}

.header__avatar img {
    width: 40px;
    height: 40px;
    color: white    ;
}

.header__shopping-cart img {
    width: 60px;
    height: 60px;
}

.sushi-container {
    max-width: 1000px;
    border: solid black 0.5px;
    max-height: 80vh;
    overflow: hidden;
    transition: overflow 0.3s ease-in-out;
}

.sushi-container:hover {
    overflow-y: auto;
}

.sushi-container::-webkit-scrollbar {
    display: none;
}

.card-text {
    font-size: 1.4em;
}

.card__details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.items {
    display: flex;

}

.items__control {
    text-align: center;
    width: 40px;
    height: 30px;
    background-color: bisque;
}

.items__current {
    text-align: center;
    width: 40px;
    height: 30px;
    background-color: bisque;
}   

.items__control--left-circled {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.items__control--right-circled {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.items__control:hover {
    cursor: pointer;
}

